<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eran.hokleisrael"
    android:versionCode="10900"
    android:versionName="1.9.0">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_web"></activity>
        <activity
            android:name=".ParashotActivity"
            android:label="@string/title_activity_parashot"></activity>
        <activity
            android:name=".DayActivity"
            android:label="@string/title_activity_day"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>

        <activity
            android:name=".AppendixActivity"
            android:label="@string/title_activity_appendix"></activity>
        <activity
            android:name=".Bookmarks"
            android:label="@string/title_activity_bookmarks"></activity>
        <activity
            android:name=".Gallery"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_gallery"></activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.eran.hokleisrael.android.action.broadcast" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
